body {
    background-color: #141414;
    color: #F4F6F8;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}


.background_img {
    background-image: url("/assets/background_lighting.png"); 
	background-size: cover;
    position: fixed;
	height: 100%;
	width: 100%;
	background-position: center; 
    opacity: 0.3;
	border-style: 'none';
	display: 'flex';
}

.live_score_title {
    /* background-color:#ffffff; */
    color:#ffffff;
    height:10%;
    text-align:left;
    font-size:15px;
}

.live_score_container {
    /* border:1px solid #ffffff; */
    width:40%;
    height:90%;
    position:absolute;
    top:5%;
}

.container1{
    position: relative;
    height: 6%;
    width: 100%;
    font-size: 16px;
    /* align-items:center;
    justify-content: center; */
    /* margin-left: 5px; */
}

.container2 {
    width:30%;
    height:30%;
    background-color:transparent;
    /* border:1px solid #ffffff; */
    position:absolute;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:'10%';
}

.container3{
    width:15%;
    height:30%;
    background-color:transparent;
    /* border:1px solid #ffffff; */
    position:absolute;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:'10%';
}